# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Build files
*.d.ts
!/config/*.d.ts
/index.js
/backend.js
/backends
/react.ts